* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar    header       header        header      header"
    "sidebar main-content main-content main-content main-content"
    "sidebar main-content main-content main-content main-content"
    "sidebar main-content main-content main-content main-content"
    "sidebar main-content main-content main-content main-content"
    "sidebar main-content main-content main-content main-content"
    "sidebar main-content main-content main-content main-content";
}
/* header layout */

header {
  grid-area: header;
  padding: 10px;
  background-color: pink;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  align-items: center;
}

header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* sidebar layout */

.sidebar {
  grid-area: sidebar;
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  gap: 30px;
  align-items: center;
}

.sidebar > div > div {
  padding-bottom: 10px;
}

/*main content layout*/

.main-content {
  grid-area: main-content;
  background-color: gray;
}
